@mixin small-text {
  font-size: 18px;
}

@mixin large-text {
  font-size: 24px;
}


main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  canvas {
    width: 600px;
    height: 260px;
  }

  .comb_sort, .shake_sort {
    width: 500px;
    margin-left: -5px;
  }
}

.sort_name {
  position: relative;
  color: #b5b5b5;
  border-bottom: 1px solid #c4c4c4;
  margin: 21px 0 19px 0;
  @include small-text;
  @media (max-width: 776px) {
    @include large-text;
  }
}

.description {
  margin-bottom: 30px;

  button {
    margin-bottom: 118px;
    padding: 7px 35px;
    border: none;
    color: white;
    background-color: mediumturquoise;
    cursor: pointer;
    @include small-text;
    @media (max-width: 776px) {
      @include large-text;
    }
  }

  .description button,
  .description button:active,
  .description button:focus {
    outline: none;
  }

  p {
    color: #b5b5b5;
    border-top: 1px solid #c4c4c4;
    margin-top: -99px;
    padding-top: 15px;
    @include small-text;
    @media (max-width: 776px) {
      @include large-text;
    }
  }
}